<div class="trashAndBoards">
  <button class="deleteButton" id="delete {{id}}"><img src="photos/delete.png" alt="delete"></button>
  <a href="/build-a-buni/{{model}}/{{id}}" class="boardBox {{#if (isFoot model)}}foot{{else}}flyin{{/if}}" id="{{id}}">
    <img src="photos/{{model}}.png" alt="flyin rabbit" {{#if (isFoot model)}}id="foot"{{else}}id="flyin"{{/if}}>
    <h2>{{custom}}</h2>
    <h3>by {{creator}}</h3>
    <p>{{description}}</p>
  </a>
</div>
